#syscoLogo {
    width: 20%;
    height: 10%;
    margin: 20px;
}

.vacationForm {
    background: #498bcc;
    margin: 2%;
    border-radius: 10px;
    padding: 5%;
}

Label {
    font-size: 40px;
}

button {

    width: 150px;
    height: 70px;
}

#knapp {
    font-size: 30px;
    margin-top: 3%;
}


