#syscoLogo {
    width: 20%;
    height: 10%;
    margin: 20px;
}

.vacationForm {
    background: #498bcc;
    margin: 2%;
    border-radius: 10px;
    padding: 5%;
    width: 100%;
}

Label {
    font-size: 40px;
    margin-right: 20px;
}

button {
    width: 150px;
    height: 70px;
}

#knapp {
    font-size: 30px;
    margin-top: 3%;
    width: 500px;
}

.login {
    background:#498bcc;
    width: 80%;
    height: 250px;
    margin: 10%;
    border-radius: 10px;
}

.contentLogin {
    padding-top: 60px;
    align-content: center;
    
}


#signIn {
    margin-top: -10px;
    margin-left: 15px;
    font-size: 30px;
}

.requests {
    width: 100%;
    height: 100%;
    background:#498bcc;
    padding: 2%;
    margin-right: 5%;
    border-radius: 10px;
}

#table {
    width: 100%;
    background:white;
}

#inputGroup {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}

#icon {
    margin: 5%;
}