#btn {
    height: 120px;
    width: 250px;
    margin: 30px;
    margin-left: 130px;

}

#approvebtn:hover {
    background-color: rgb(48, 190, 48);
    border: none;
}

#denybtn:hover {
    background-color: rgb(214, 40, 40);
    border: none;
}

#comment {
    height: 200px;
    width: 400px;
    margin-left: 70px;
    margin-top: 20px;
}