#syscoLogo {
    width: 20%;
    height: 10%;
    margin: 20px;
    float: left;
}

.navbar,
.navbar-default {
    background-color: #D6EAF8 !important;
}

.navbar,
.container,
.navbar-brand {
    font-size: 19px;

}

#navbar-text {
    font-size: 18px;
}

Label {
    font-size: 40px;
    margin-right: 20px;
}

button {
    width: 90%;
    height: 60%;
}
