#syscoLogo {
    width: 20%;
    height: 10%;
    margin: 20px;
    float: left;
}

.navbar,
.navbar-default {
    background-color: #CBE5FE !important;
}

.navbar,
.container,
.navbar-brand {
    font-size: 18px;
    justify-content: space-around;

}
@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}

/* This style affects the global alert 'x' button */
button {
    height: 50%;
}
