.userPage {
    margin: 2%;
}

.cardBox {
    background: #498bcc !important;
    border-radius: 10px !important;
    text-align: left;
}

.cardTitle {
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
}

.cardBody {
    font-size: 19px;
    background: #CBE5FE !important;
    border-radius: 10px !important;
    padding: 30px;
    margin: 3%;
}

.vacationColumn {
    background: #498bcc;
    padding: 30px;
    border-radius: 10px;
    font-size: 25px;
}

.vacationForm {
    text-align: left;
}

#userPageDateInput {
    font-size: 17px;
}

#vacationFormButton {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 70px;
}

