.userPage {
    margin: 2%;
}

.cardBox {
    background: #498bcc !important;
    border-radius: 10px !important;
    text-align: left;
    margin-bottom: 10px;
}

.cardTitle {
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
}

.cardBody {
    font-size: 19px;
    background: #CBE5FE !important;
    border-radius: 10px !important;
    padding: 30px;
    margin: 3%;
}

.vacationColumn {
    background: #498bcc;
    padding: 30px;
    border-radius: 10px;
    font-size: 25px;
}

.vacationForm {
    text-align: left;
}

#userPageDateInput {
    font-size: 17px;
}

#vacationFormButton {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 70px;
}

.vacationFormReasonDropDownMenu {
    display: inline-block;
    height:39px;
    width: 100%;
    padding: 2px 10px 2px 2px;
    outline: none;
    color: #74646e;
    border: 1px solid #C8BFC4;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background: #fff;
}

