.userPage {
    margin: 2%;
}

.requestCardTitle {
    font-size: 30px;
    padding: 11px;
}

.userBoxTitle {
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
}

.vacationForm {
    background: #498bcc;
    padding: 30px;
    border-radius: 10px;
    font-size: 25px;
    text-align: left;
}


.userBox {
    background: #498bcc !important;
    border-radius: 10px !important;
    text-align: left;
}

.userBoxBody {
    font-size: 19px;
    background: #CBE5FE !important;
    border-radius: 10px !important;
    padding: 30px;
    margin: 3%;
}

#userPageDateInput {
    font-size: 17px;
}

#vacationFormButton {
    font-size: 26px;
    margin-top: 30px;
    width: 380px;
    height: 70px;
    align-content: center !important;
}

